/* CSS files add styling rules to your content */


        *
        {
            margin:0px;
            padding:0px;
        }

        nav
        {
            background-color: #333333;
            height:38px;
        }
        nav a
        {
            text-decoration: none;
            color:#d6d6d6;
            margin:40px;
            position: relative;
            top:10px;
          font-family:SF PRO TEXT;
        }
      nav a img 
      {
        position:relative;
        bottom:5px;
        }
        ul
        {
            display:flex;
            list-style-type: none;
        }
        .nav
        {
            flex:1;
            justify-content:center;
        }
        
        .buy
        {
            text-align:center;
          position:relative;
          top:20px;
        }
        .buy a 
        {
          color:#0066cc;
        }
p
{
  color:#919192;
}